<style>
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: grey;
  border:1px solid #cecece;
}
</style>

<br>
<br>
<br>
<div class="footer">
  <p style="margin-left:2.5em;font-size:12px;">Not affiliated with Spotify AB or its partners in any way.</p>
</div>
