<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background:#E8E8E8;border:1px solid #cecece;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MySpotifySound</a>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li class="nav-item mr-auto">
          <a class="nav-link" style="color:black;" href="/artists">Top Artists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:black;" href="/genres">Top Genres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:black;" href="/tracks">Top Tracks</a>
        </li>
      </ul>
      <%if (token) {%>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" style="color:black;" href="/logout">Logout</a>
          </li>
        </ul>
      <%} else { %>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" style="color:black;" href="/login">Login</a>
          </li>
        </ul>
      <% } %>
    </div>
  </div>
</nav>
