<!doctype html>
<html>
  <head>
    <title>MySpotifySound</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style type="text/css">
      #login, #loggedin {
        display: none;
      }
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }
    </style>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <center>
    <br>
      <h2>Your Top Artists</h2>
    </center>

    <div id="top-artists">
    </div>


    <script id="top-artists-template" type="text/x-handlebars-template">
      <br>
      <div class="container" style="border:1px solid #cecece;background-color:#E8E8E8;padding-top:1em;padding-bottom:1em;">
        <div class="media">
          <img class="media" width="150" src="{{images.0.url}}"/>
          <div class="media-body">
            <h2 style="margin-left:1em;display:inline-block">{{rank}}.&nbsp;</h2>
            <a href="https://open.spotify.com/artist/{{id}}" target="_blank">
              <h2 style="display:inline-block;color:black;">{{name}}</h2>
            </a>
            <p style="margin-left:2em">Genres: {{genres}}</p>
          </div>
        </div>
      </div>
      <br>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
      (function() {
        var topArtistsSource = document.getElementById('top-artists-template').innerHTML,
            topArtistsTemplate = Handlebars.compile(topArtistsSource),
            topArtistsPlaceholder = document.getElementById('top-artists');
        $.ajax({
            url: 'https://api.spotify.com/v1/me/top/artists?time_range=long_term&limit=50',
            headers: {
              'Authorization': 'Bearer ' + "<%- token %>"
            },
            success: function(response) {
              var html = "";
              for (var i = 0; i < response.items.length; i++) {
                response.items[i].rank = i + 1;
                response.items[i].genres = response.items[i].genres.join(", ")
                html += topArtistsTemplate(response.items[i]);
              }
              topArtistsPlaceholder.innerHTML = html;
            }
        });
      })();
    </script>
  </body>
</html>
