<!doctype html>
<html>
  <head>
    <title>MySpotifySound</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style type="text/css">
      .artist-image {
        display:inline-block;
        width:150px;
        height:150px;
        object-fit:cover;
      }
    </style>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <br>
    <br>
    <br>
    <center>
      <br>
      <div id="top-artists-header">
      </div>
      <br>
      <a href="/artists?time_range=short_term">
        <h6 style="display:inline-block;">Last 4 Weeks</h6>
      </a>
      <a href="/artists?time_range=medium_term">
        <h6 style="display:inline-block;margin-left:10em;">Last 6 Months</h6>
      </a>
      <a href="/artists?time_range=long_term">
        <h6 style="display:inline-block;margin-left:10em;">All Time</h6>
      </a>
    </center>

    <div id="top-artists">
    </div>

    <script id="top-artists-header-template" type="text/x-handlebars-template">
      <h2>Your Top Artists ({{time_range}})</h2>
    </script>

    <script id="top-artists-template" type="text/x-handlebars-template">
      <br>
      <div class="container" style="border:1px solid #cecece;background-color:#E8E8E8;padding-top:1em;padding-bottom:1em;">
        <div class="media">
          <a href="https://open.spotify.com/artist/{{id}}" target="_blank">
            <img class="media artist-image" src="{{images.0.url}}"/>
          </a>
          <div class="media-body">
            <h2 style="margin-left:1em;display:inline-block">{{rank}}.&nbsp;</h2>
            <a href="https://open.spotify.com/artist/{{id}}" target="_blank">
              <h2 style="display:inline-block;color:black;">{{name}}</h2>
            </a>
            <p style="margin-left:2em">Genres: {{genres}}</p>
          </div>
        </div>
      </div>
      <br>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
      (function() {
        var topArtistsHeaderSource = document.getElementById('top-artists-header-template').innerHTML,
            topArtistsHeaderTemplate = Handlebars.compile(topArtistsHeaderSource),
            topArtistsHeaderPlaceholder = document.getElementById('top-artists-header');

        var topArtistsSource = document.getElementById('top-artists-template').innerHTML,
            topArtistsTemplate = Handlebars.compile(topArtistsSource),
            topArtistsPlaceholder = document.getElementById('top-artists');

        var time_range = "<%- time_range %>";

        if (time_range === "short_term") {
          topArtistsHeaderPlaceholder.innerHTML = topArtistsHeaderTemplate({ time_range: "Last 4 Weeks" });
        } else if (time_range === "medium_term") {
          topArtistsHeaderPlaceholder.innerHTML = topArtistsHeaderTemplate({ time_range: "Last 6 Months" });
        } else {
          time_range = "long_term"
          topArtistsHeaderPlaceholder.innerHTML = topArtistsHeaderTemplate({ time_range: "All Time" });
        }

        $.ajax({
          url: 'https://api.spotify.com/v1/me/top/artists?time_range=' + time_range + '&limit=50',
          headers: {
            'Authorization': 'Bearer ' + "<%- token %>"
          },
          success: function(response) {
            var html = "";
            for (var i = 0; i < response.items.length; i++) {
              response.items[i].rank = i + 1;
              response.items[i].genres = response.items[i].genres.join(", ")
              html += topArtistsTemplate(response.items[i]);
            }
            topArtistsPlaceholder.innerHTML = html;
          },
          error: function(response, textStatus) {
            if (response.status === 401) {
              $.ajax({
                url: '/refresh_token',
                data: {
                  'refresh_token': refresh_token
                }
              }).done(function(data) {
                access_token = data.access_token;
                document.cookie = "auth=" + access_token;
                location.reload();
              });
            }
          }
        });
      })();
    </script>
  </body>
</html>
