<!doctype html>
<html>
  <head>
    <title>MySpotifySound</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style type="text/css">
      .artist-image {
        margin-left:2em;
        display:inline-block;
        width:100px;
        height:100px;
        object-fit:cover;
      }
    </style>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <br>
    <br>
    <br>
    <center>
      <br>
      <div id="top-genres-header">
      </div>
      <br>
      <a href="/genres?time_range=short_term">
        <h6 style="display:inline-block;">Last 4 Weeks</h6>
      </a>
      <a href="/genres?time_range=medium_term">
        <h6 style="display:inline-block;margin-left:10em;">Last 6 Months</h6>
      </a>
      <a href="/genres?time_range=long_term">
        <h6 style="display:inline-block;margin-left:10em;">All Time</h6>
      </a>
    </center>

    <div id="top-genres">
    </div>

    <script id="top-genres-header-template" type="text/x-handlebars-template">
      <h2>Your Top Genres ({{time_range}})</h2>
    </script>

    <script id="top-genres-template" type="text/x-handlebars-template">
      <br>
      <div class="d-flex justify-content-between container" style="border:1px solid #cecece;background-color:#E8E8E8;padding-top:1em;padding-bottom:1em;">
        <div>
          <h2 style="margin-left:1em;display:inline-block;">{{rank}}.&nbsp;{{genre}}</h2>
          <p style="margin-left:2em">{{count}} of your top 50 artists are {{genre}}.</p>
        </div>
        <div style="display:inline-block;" class="float-right">
          <p style="margin-left:2em"> Your top {{genre}} artists: </p>
          <a href="https://open.spotify.com/artist/{{id1}}" target="_blank">
            <img  class="media artist-image" src="{{image1}}"/>
          </a>
          <a href="https://open.spotify.com/artist/{{id2}}" target="_blank">
            <img class="media artist-image" src="{{image2}}"/>
          </a>
          <a href="https://open.spotify.com/artist/{{id3}}" target="_blank">
            <img class="media artist-image" src="{{image3}}"/>
          </a>
        </div>
      </div>
      <br>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
      (function() {

        var topGenresHeaderSource = document.getElementById('top-genres-header-template').innerHTML,
            topGenresHeaderTemplate = Handlebars.compile(topGenresHeaderSource),
            topGenresHeaderPlaceholder = document.getElementById('top-genres-header');

        var topGenresSource = document.getElementById('top-genres-template').innerHTML,
            topGenresTemplate = Handlebars.compile(topGenresSource),
            topGenresPlaceholder = document.getElementById('top-genres');

        var time_range = "<%- time_range %>";

        if (time_range === "short_term") {
          topGenresHeaderPlaceholder.innerHTML = topGenresHeaderTemplate({ time_range: "Last 4 Weeks" });
        } else if (time_range === "medium_term") {
          topGenresHeaderPlaceholder.innerHTML = topGenresHeaderTemplate({ time_range: "Last 6 Months" });
        } else {
          time_range = "long_term"
          topGenresHeaderPlaceholder.innerHTML = topGenresHeaderTemplate({ time_range: "All Time" });
        }

        $.ajax({
            url: 'https://api.spotify.com/v1/me/top/artists?time_range=' + time_range + '&limit=50',
            headers: {
              'Authorization': 'Bearer ' + "<%- token %>"
            },
            success: function(response) {
              var genreCount = {};
              var html = "";
              for (var i = 0; i < response.items.length; i++) {
                for (var j = 0; j < response.items[i].genres.length; j++) {
                  if (genreCount[response.items[i].genres[j]]) {
                    genreCount[response.items[i].genres[j]]["count"] += 1;
                  } else {
                    genreCount[response.items[i].genres[j]] = { count: 1 };
                  }
                  if (genreCount[response.items[i].genres[j]]["count"] < 4) {
                    genreCount[response.items[i].genres[j]]["image" + genreCount[response.items[i].genres[j]]["count"]] = response.items[i].images[0].url;
                    genreCount[response.items[i].genres[j]]["id" + genreCount[response.items[i].genres[j]]["count"]] = response.items[i].id;
                  }
                }
              }
              var sortedGenres = Object.entries(genreCount).sort(function(a, b) {
                return b[1]["count"] - a[1]["count"];
              }).slice(0, 10);
              for (i = 0; i < sortedGenres.length; i++) {
                html += topGenresTemplate({ genre: sortedGenres[i][0],
                                            count: sortedGenres[i][1]["count"],
                                            image1: sortedGenres[i][1]["image1"],
                                            image2: sortedGenres[i][1]["image2"],
                                            image3: sortedGenres[i][1]["image3"],
                                            id1: sortedGenres[i][1]["id1"],
                                            id2: sortedGenres[i][1]["id2"],
                                            id3: sortedGenres[i][1]["id3"],
                                            rank: i + 1 });
              }
              topGenresPlaceholder.innerHTML = html;
            },
            error: function(response, textStatus) {
              if (response.status === 401) {
                $.ajax({
                  url: '/refresh_token',
                  data: {
                    'refresh_token': refresh_token
                  }
                }).done(function(data) {
                  access_token = data.access_token;
                  document.cookie = "auth=" + access_token;
                  location.reload();
                });
              }
            }
        });
      })();
    </script>
  </body>
</html>
